

.main_body { background-color:#b8307c}

/*=======================================================================================================*/
                                            /*
                                               +++++++++++++++++++++++++ ++
                                               +                          +
                                               +   NAVIGETION            +
                                               +                          +
                                               ++++++++++++++++++++++++++++
                                               */


.navigetion-icone-flower
{
   
    font-family:Times New Roman Times, serif;
    
    font-size:40px;
    cursor:pointer;
    margin-left: 8px;
    color:white;
}

#NaviDivHeader
    {
        background-color: #a21369;
        height:50px;
    }


#alert-box-display-area{
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #FFF;
    width: 100%;
    z-index: 10;
    /* border-radius: 50px; */
}
#alert-box{
    display: none;
    position: fixed;
    /* background: beige; */
    /* border-radius:50px;  */
    width:550px;
    z-index: 10;
}
#alert-box > div{margin:8px; }
#alert-box > div > #alert-box-header
{ 
    background:#6495ED;  font-size:19px; padding:10px; color:white; 
    border-top-left-radius: 30px; border-top-right-radius: 30px; align-content: center;
    font-family:Times New Roman Times, serif; font-weight: bold; font-style: italic;
}
.ok-alert-btn
{
    background:  #F5F5F5;
    border-radius: 30px;
    width: 50%; height: 35px; color: #0000CD; font-size: 18px;
    font-family:Times New Roman Times, serif; font-weight: bold; font-style: italic;
}
#alert-box > div > #alert-box-body
{ 
    background:#E6E6FA; padding:20px; 
    height: 75px; color:#0000CD ; font-size: 18px;
    font-family:Times New Roman Times, serif; font-weight: bold; font-style: italic;
}
#alert-box > div > #alert-box-footer
    { 
        background:#6495ED; 
        padding:10px; 
        text-align:center; 
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        height: 45px; 
    }
    